body {
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);

}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.home-headings {
    color: white;
    margin: 10% 32%;
    text-align: center;
    font-size: 2.5rem;
}

.home-btn {
    margin: 2% 0;
}

.heading-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 15px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-size: 500;
}

.nav-link:hover {
    background-color: red;
    border-radius: 0.5rem;
}