body {
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);

    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 1%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.login-page {
    width: 300px;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #0F2027;; */
    background: #00000070;
    padding: 20px;
    margin: 10% auto 0;
    /* text-align: left; */
}

.login-page h3 {
    color: #fff;
    text-align: left;
}

.login-btn {
    border-radius: 10px;
    padding: 7px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.input-box {
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    outline: none;
    text-align: left;
}

hr {
    border-color: #fff;
    margin-top: 20px;
    width: 80%;
}

.or {
    color: white;
    background: #0F2027;
    width: 30px;
    margin: -31px auto 18px;
    text-align: center;
}

.icon-google {
    color: #fff;
    margin: -31px 122px 0;
}

.new-member {
    color: #fff;
    margin-top: 15px;
    text-align: center;
}