body {
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);

    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 1%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.signup-page {
    width: 300px;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #0F2027;; */
    background: #00000070;
    padding: 20px;
    margin: 10% auto 0;
    text-align: left;
}

.signup-page h3 {
    color: #fff;
}

.signup-btn {
    border-radius: 10px;
    padding: 7px;
    margin: 10px 0;
    width: 100%;
}

.input-box {
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    outline: none;
}

.profile-page {
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #0F2027;; */
    background: #00000070;
    padding: 20px;
    margin: 10% auto 0;
    text-align: center;
}

.profile-name {
    text-align: center;
}

.details {
    color: white;
    padding-top: 5%;
}

.info {
    color: white;
    padding-top: 5%;
}

.profile-edit-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(21, 21, 21);
    color: white;
    text-align: center;
    border-radius: 100px;
    width: 8%;
    padding: 1% 0 1% 0;
}

.profile-edit-btn:hover {
    background-color: rgb(40, 40, 40);
}

.profile-edit {
    text-align: right;
    padding-right: 10%;
}